<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655087923624-5e2i5rqtnovlqin5aql9r0471cr3dfe6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655087923624-5e2i5rqtnovlqin5aql9r0471cr3dfe6</string>
	<key>API_KEY</key>
	<string>AIzaSyDIaA7F2ToJ-xLVhUwaDjlU4cmbjtRDQ9o</string>
	<key>GCM_SENDER_ID</key>
	<string>655087923624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lapcare</string>
	<key>PROJECT_ID</key>
	<string>lapcare-338db</string>
	<key>STORAGE_BUCKET</key>
	<string>lapcare-338db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655087923624:ios:a251e100ea19ac6ecbed9d</string>
</dict>
</plist>